# Ignore Binaries and Intermediate folders
Binaries/
Intermediate/
Saved/
Build/

# Ignore Visual Studio files
*.sln
*.vcxproj*
*.user
*.opensdf
*.sdf
*.ipch
*.pdb
*.idb
*.vs

# Unreal Engine Cache
*DerivedDataCache/